*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
.idea/dictionaries/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/render.experimental.xml
.idea/runConfigurations.xml
app/.gitignore
app/build.gradle
app/google-services.json
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
